
# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=change_me
POSTGRES_DB=ecommerce

# RabbitMQ
RABBITMQ_USER=ecommerce
RABBITMQ_PASSWORD=change_me
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# App
PORT=3000

# JWT
JWT_SECRET=change_me
JWT_EXPIRES_IN=1d
